h1{
    font: bold 60px/71px "Patrick Hand SC";
    color: #ffd646;
}

h2{
    font: bold 50px/71px "Patrick Hand SC";
    color: #ffd646;
}

h3{
    font: bold 22px/41px "Patrick Hand SC";
    color: #fff6f1;
}

h3 span{
    color: #fff6f1
}